<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Teste</title>

    <link rel="stylesheet" href="../css/main.min.css">
</head>
<body>
    <div class="menu-side logo">
        <img src="../img/logo.png" alt="">
    </div>
    <div class="item-flex">
        <img src="https://dummyimage.com/405x311/d7d7d7/a9a9a9" alt="">
        <img src="https://dummyimage.com/405x311/acacac/919191" alt="">
        <img src="https://dummyimage.com/405x311/d7d7d7/a9a9a9" alt="">
        <img src="https://dummyimage.com/405x311/acacac/919191" alt="">

        <img src="https://dummyimage.com/405x311/acacac/919191" alt="">
        <img src="https://dummyimage.com/405x311/acacac/919191" alt="">
        <img src="https://dummyimage.com/405x311/d7d7d7/a9a9a9" alt="">
        <img src="https://dummyimage.com/405x311/acacac/919191" alt="">

        <img src="https://dummyimage.com/405x311/d7d7d7/a9a9a9" alt="">
        <img src="https://dummyimage.com/405x311/acacac/919191" alt="">
        <img src="https://dummyimage.com/405x311/d7d7d7/a9a9a9" alt="">
        <img src="https://dummyimage.com/405x311/acacac/919191" alt="">

        <img src="https://dummyimage.com/405x311/d7d7d7/a9a9a9" alt="">
        <img src="https://dummyimage.com/405x311/acacac/919191" alt="">
        <img src="https://dummyimage.com/405x311/d7d7d7/a9a9a9" alt="">
        <img src="https://dummyimage.com/405x311/acacac/919191" alt="">

        <img src="https://dummyimage.com/405x311/d7d7d7/a9a9a9" alt="">
    </div>

</body>
</html>